/* Обёртка поля поиска */
.search-bar {
  display: flex;
  align-items: center;
  width: 350px;
  height: 50px;
  padding: 0 20px;
  margin-left: 24px; /* ← Отступ от левого края */

  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: none;
}


/* Иконка поиска */
.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Сама иконка */
.search-icon img {
  width: 24px;
  height: 24px;
  opacity: 0.4;
  transition: opacity 0.3s;
}

/* Поле ввода */
.search-input {
  margin-left: 8px;
  width: 100%;

  background: transparent;
  border: none;
  outline: none;

  color: rgba(255, 255, 255, 0.4);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;

  transition: color 0.3s, font-weight 0.3s;
}

/* Плейсхолдер унаследует цвет */
.search-input::placeholder {
  color: inherit;
}

/* -------- ХОВЕР -------- */
.search-bar:hover {
  background-color: #6E45CA;
  box-shadow: 0 0 30px rgba(110, 69, 202, 0.24);
}

.search-bar:hover .search-icon img {
  opacity: 1;
}

.search-bar:hover .search-input {
  color: #fff;
  font-weight: 500;
}

/* -------- ФОКУС (клик по полю) -------- */
.search-bar:focus-within {
  background-color: transparent;
  border: 2px solid #6E45CA;
}

.search-bar:focus-within .search-icon img {
  display: none;
}

.search-bar:focus-within .search-input {
  color: #fff;
  font-weight: 400;
}
