.sidebar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 215px;
  margin: 20px auto 0;
  height: 30px;
  background-color: #6E45CA;
  border-radius: 9999px;
  padding: 8px 20px;
  gap: 10px;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, font-weight 0.3s ease, transform 0.1s ease;
}

.sidebar-button:hover {
  background-color: rgba(110, 69, 202, 0.8); /* 80% при наведении */
  font-weight: 500; /* medium */
  box-shadow: 0 0 30px 0 rgba(110, 69, 202, 0.24); /* мягкая тень */
}

.sidebar-button:active {
  background-color: rgba(110, 69, 202, 0.5); /* 50% при нажатии */
  transform: scale(0.98); /* лёгкое сжатие */
}

.sidebar-button-icon {
  font-size: 22px;
}
