/* Sidebar.css */

.sidebar {
  width: 320px;
  background-color: #191919;
  height: calc(100vh - 90px);
  position: fixed;
  top: 90px;
  left: 0;
  z-index: 900;
}

.sidebar-divider {
  height: 2px; /* можно 1px, но 2px выглядит плавнее при скруглении */
  background: rgba(255, 255, 255, 0.1);
  margin: 40px 30px 0 30px;
  border-radius: 999px; /* чтобы концы были полностью закруглены */
}
