.sidebar-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.sidebar-footer-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.sidebar-footer-icon + .sidebar-footer-icon {
  margin-left: 30px;
}

.sidebar-footer-icon.right {
  margin-left: auto;
}
