.sidebar-footer-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 320px;
  height: 90px;
  background-color: #191919;
}

.sidebar-footer {
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: flex;
  gap: 30px;
}

.sidebar-footer-icon,
.sidebar-footer-close {
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.3s ease;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &.clicked {
    transform: scale(0.9);
    opacity: 1;
    filter: brightness(0) saturate(100%) invert(39%) sepia(46%) saturate(666%)
      hue-rotate(224deg) brightness(95%) contrast(91%);
  }
}

.sidebar-footer-icon {
  width: 30px;
  height: 30px;
}

.sidebar-footer-close {
  position: absolute;
  right: 30px;
  bottom: 38px;
  width: 19px;
  height: 15px;
}
